<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gw.arUser" >
  <resultMap id="BaseResultMap" type="com.crm.pojo.Rt_arUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="arch_id" property="archId" jdbcType="INTEGER" />
    <result column="uiser_id" property="uiserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, arch_id, uiser_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rc_ar_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="gw.arUser.selectByid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rc_ar_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="gw.arUser.selectByArchid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rc_ar_user
    where arch_id = #{archid,jdbcType=INTEGER}
  </select>
  <select id="gw.arUser.selectByArchidAndUserid" resultMap="BaseResultMap" parameterType="com.crm.pojo.Rt_arUser" >
    select 
    <include refid="Base_Column_List" />
    from rc_ar_user
    where arch_id = #{archId,jdbcType=INTEGER} and uiser_id=#{uiserId,jdbcType=INTEGER}
  </select>
  <select id="gw.arUser.selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rc_ar_user
    where uiser_id = #{uiserId,jdbcType=INTEGER}
  </select>
  <delete id="gw.arUser.delete" parameterType="java.lang.Integer" >
    delete from rc_ar_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="gw.arUser.inserts" parameterType="com.crm.pojo.Rt_arUser" >
    insert into rc_ar_user (id, arch_id, uiser_id
      )
    values (#{id,jdbcType=INTEGER}, #{archId,jdbcType=INTEGER}, #{uiserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.pojo.Rt_arUser" >
    insert into rc_ar_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="archId != null" >
        arch_id,
      </if>
      <if test="uiserId != null" >
        uiser_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="archId != null" >
        #{archId,jdbcType=INTEGER},
      </if>
      <if test="uiserId != null" >
        #{uiserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.pojo.Rt_arUser" >
    update rc_ar_user
    <set >
      <if test="archId != null" >
        arch_id = #{archId,jdbcType=INTEGER},
      </if>
      <if test="uiserId != null" >
        uiser_id = #{uiserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.pojo.Rt_arUser" >
    update rc_ar_user
    set arch_id = #{archId,jdbcType=INTEGER},
      uiser_id = #{uiserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>